/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
.page {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;

  background-color: var(--background-color, rgba(255, 255, 255, 1));
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
  text-align: center;
}

.header {
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  display: grid;
  align-content: center;
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  padding-bottom: 21px;
  padding-top: 21px;
}

.logo-group {
  margin-top: 98px;
}

.grand-logo {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  line-height: 49px;
  font-family: var(--font-accent, fantasy);
  color: var(--main-color, rgba(0, 0, 0, 1));
}

.grand-title {
  margin-top: 20px;
  font-family: var(--font-accent, fantasy);
  color: var(--main-color, rgba(0, 0, 0, 1));
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: 14px;
}

.header__theme-menu {
  margin-top: 15px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
}

.theme-menu__item {
  margin-top: 8px;
  margin-left: 16px;
}

.theme-menu__button {
  font-family: var(--font-accent, fantasy);
  color: var(--main-color, rgba(0, 0, 0, 1));
  position: relative;
  border: none;
  padding: 1px 0;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  line-height: 14px;
  appearance: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 0%;
  background-color: var(--main-color);

  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease;
  transform: scaleX(0);
  transform-origin: left center;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: choose 0.5s infinite ease-in-out alternate;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  gap: 49px;
}

.card {
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background-color: var(--background-color, rgba(255, 255, 255, 1));
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}

.card__title {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-main, sans-serif);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-weight, 700);
  line-height: 21.78px;
  padding: 5px 10px 5px 10px;
  text-align: start;
}

.card__img-container {
  position: relative;
  width: 100%;
  min-height: 371px;
  border-top: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  border-bottom: 2px solid var(--main-color, rgba(0, 0, 0, 1));
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-position: top right;
  aspect-ratio: 1 / 1;
}

.card__img-watermark {
  position: absolute;
  top: 22px;
  right: 10px;
  opacity: 0.5;
  font-family: var(--font-accent, fantasy);
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-weight: 400;
  font-size: 14px;
  text-shadow: 0 0 1px var(--background-color, rgba(255, 255, 255, 1));
  z-index: 1;
  line-height: 14px;
  -webkit-text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1));
  text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1));
  mix-blend-mode: hard-light;
}

@supports (
  (
    (text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1))) or
      (-webkit-text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1)))
  )
) {
  .card__img-watermark {
    -webkit-text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1));
    text-stroke: 1px var(--background-color, rgba(255, 255, 255, 1));
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 24px;
  gap: 28px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 21px;
}

.card__content p {
  color: var(--main-color, rgba(0, 0, 0, 1));
  font-family: var(--font-main, sans-serif);
  line-height: 21px;
  font-size: 18px;
  font-variation-settings: "wght" var(--text-weight, 400);
  display: block;
  text-align: start;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 20px;
}

.card__icon-button {
  padding: 0px 4px 0px 0px;
  border: none;
  background-color: transparent;
  appearance: none;

  transition-property: border;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.like-icon {
  background-color: transparent;
  height: 38px;
  margin-top: 4px;
}

.card__like-button {
  width: 130px;
  height: 38px;
  font-weight: 400;
}

.button__text {
  font-family: var(--font-accent, fantasy);
  line-height: 90%;
  color: var(--button-color, rgba(255, 255, 255, 1));
  mix-blend-mode: difference;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  background: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  font-family: var(--font-accent, fantasy);
  color: var(--main-color, rgba(0, 0, 0, 1));
  appearance: none;
  font-size: 14px;
  line-height: 12.6px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px var(--main-color, rgba(0, 0, 0, 1));
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--main-color, #000);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: transform;
  transform: scaleX(0);
  transform-origin: left center;
}

.button:hover::before {
  transform: scale(1);
}

@supports (mix-blend-mode: difference) {
  .button svg {
    transition: none;
  }

  .button__text {
    mix-blend-mode: difference;
  }
}

.footer-button {
  text-align: center;
  margin-bottom: 100px;
  background-color: var(--background-color);
  width: 306px;
  height: 84px;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
}

.footer-icon {
  width: 28px;
  height: 28px;
  color: var(--button-color);
  mix-blend-mode: difference;
}

.filter-saturate {
  filter: saturate(2.2);
}
.filter_blur-sepia {
  filter: blur(3px) sepia(0.6);
}
.filter_brightness {
  filter: brightness(30%);
}
.filter_contrast {
  filter: contrast(250%);
}
.filter_grayscale {
  filter: grayscale(80%);
}
.filter_hue-rotate {
  filter: hue-rotate(0.5turn);
}
.filter_invert {
  filter: invert(100%);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog {
  max-width: 341px;
  border: 2px solid var(--main-color, rgba(0, 0, 0, 1));
  padding: 30px;
  background: var(--background-color, rgba(255, 255, 255, 1));
}

.dialog-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: start;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--main-color, rgba(0, 0, 0, 1));
  align-items: center;
}

.dialog-warning {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--font-accent, fantasy);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  background-color: transparent;
}

.dialog-button {
  background-color: transparent;
  gap: 10px;
  width: 257px;
  min-height: 38px;
  padding: 9px 17px;
  text-transform: uppercase;
}

.dialog-img {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
  fill: var(--main-color, rgba(0, 0, 0, 1));
  stroke: var(--main-color, rgba(0, 0, 0, 1));
}

@media (700px <= width) {
  .header {
    padding-top: 37px;
    padding-bottom: 20px;
  }
  .header__theme-menu {
    padding: 0px;
  }
  .page {
    max-width: 700px;
  }
  .grand-logo {
    line-height: 65px;
  }
  .grand-title {
    line-height: 23px;
  }
  .card__img-watermark {
    top: 25px;
    right: 25px;
  }
  .footer-button {
    width: 340px;
    height: 60px;
    flex-direction: row;
  }
  .footer-icon {
    width: 21px;
    height: 21px;
  }
  .dialog-button {
    width: 293px;
  }
}
